APP_NAME=CerdikAI
APP_ENV=production
APP_DEBUG=false
APP_URL=https://api.cerdik-ai.my.id

DB_CONNECTION=sqlite
DB_DATABASE=/path/to/database.sqlite

SANCTUM_STATEFUL_DOMAINS=cerdik-ai.my.id
SESSION_DRIVER=cookie

GEMINI_API_KEY=your-gemini-api-key

FILESYSTEM_DISK=local
